# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Data (VERY IMPORTANT)
data/
runs/
video_feed/
notebooks/

# Models (too big for docker build)
model/*.pt

# Git
.git/
.gitignore

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log